
body{
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: #434455 ;
    background-color:#ffffff;
}

a{
    text-decoration: none;
    color:inherit;
    font-family: inherit;
  
  }
 h1,h2,h3,p{margin: 0;}
h2,h3{
  color:inherit;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
  display: block;
  width: 100%;
}
.container { 
    max-width:1158px;
     padding: 0 15px; 
       margin: 0 auto;
}
.header{
        border-bottom: 1px solid  #E7E9FC;
        background: #FFF);
        padding-top: 24px;
        padding-bottom: 24px;
      }

.logo{
  font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
color: #4d5ae5;
display: flex;
align-items: center;
margin-right: 76px;
display: inline-block;
margin-bottom: 16px;

}
.header-wrap{

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrap{
  display: flex;
  align-items: center; 
}

.view{
  color:#2e2f42;
}
.viewfooter{
  color: #f4f4fd;
}
.list {
    list-style: none;
}
.link{
  color: #2e2f42 ;
  padding: 24px 0
}
.site-nav{
  display: flex;
  gap: 40px;
}
.site-nav .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color:#404BBF;

  }
  .site-nav .current {
    color:#404BBF;
    ;
  }
  address{
    font-style: normal;
  }
  .telmail {
    color:#434455;
    ;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .telmail:hover,
  .telmail:focus {
    color:#404BBF;
    ;
  }
  .order{
    background-color:#2E2F42;
    color: #ffffff;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .order-content{
    
  
    
  }
  .accentpage{
    max-width: 496px; 
font-size: 56px;
font-weight: 700;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.07;
margin-bottom: 48px;
text-align: center;
margin-left: auto;
    margin-right: auto;


  }
  .button {
    display: block; 
    min-width: 169px;
    height: 56px;
padding: 16px 32px;
background-color:#4D5AE5;
color: #ffffff;
font-size: 16;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
font-weight: 500;
border: none; 
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-left: auto;
    margin-right: auto;



  }
 .button:hover,
 .button:focus{
    background-color:#404BBF;

 }
 .section{
  padding-top: 120px;
  padding-bottom: 120px;

 }
 .piople{
  background-color: #F4F4FD;
  
 }
 .piople-wrap{
  display: flex;
  gap: 24px;
 }
 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about{
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-content{
  display:flex;
  gap:24px;
}
.about-item{
  width: calc((100% - 24 * 3px) / 4);
}
 
.headerthree{
  font-size: 20px;

font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
color:#2e2f42;
margin-bottom: 8px;


}
.card{
  width: calc((100% - 24 * 3) / 4);
  background-color: #FFFFFF ;
  border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-text{
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.text{

font-size: 16px;

font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
color:#434455;
}
.example{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.example-card{
  width: calc((100% - 48px) / 3);
  border: 1px solid #E7E9FC;
}
.example-card-text{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}
.footertext{
  color:#F4F4FD;

}
.footer{
  background-color: #2E2F42;
  color: #ffffff;
  padding: 100px 0 
}

.headertwo{
margin-bottom: 72px;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
color: #2e2f42 ;
}

